.div{
    width: 500px;
    height: 500px;
    background-color: rgba(196, 199, 26, 0.342);
}
.img{
    height: 1200px;
    width: 1000px;
    margin: 15px;
    float: inherit;
}
.para{
    color: blue;
    padding: 10px;
}